@media screen and (min-width:1200px) and (max-width:1599px) {
    .ds__content__wrapper {
    max-width: 1200px !important;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.about-section-wrapper .section-heading .title {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 900px !important;
}
.container-1600 {
        max-width: 1200px !important;
        margin: 0 auto;
    }
.ds__cta__section {
    margin-top: 48px;
    margin-bottom: 48px;
}
.brand-name {
    /* font-size: 19px !important; */
    font-size: 16px !important;

}
.image-box {
    position: relative;
    overflow: visible !important;
    border-radius: var(--radius-lg);
    margin: 0;
}
.rr-container-1800 {
    /* max-width: 1800px; */
    max-width: 1200px !important;
}
.explore-container h2 {
    color: #ffffff;
    font-size: 42px !important;
    line-height: 1.15;
    font-weight: 700;
    max-width: 900px;
    margin-bottom: 40px;
}
.intro-area4__content-title {
        font-size: 60px !important;
    }
    .cup-image{
        height: 300px !important;
        width: 270px !important;
    }
    .section-heading .title {
    font-weight: 600;
    font-size: 50px !important;
    line-height: 1 !important;
    }

.about-section-content .title {
    font-weight: 500;
    font-size: 19px !important;

}
.about-section-wrapper .section-heading {
    margin-bottom: 70px !important;
    position: relative;
}
.hero-section__card .rr-btn-border .icon svg {
    color: var(--primary);
    height: 17px;
}
.rr-btn-button5.btn-dark .icon svg {
    color: var(--primary);
    height: 17px;
}
.rr-btn-button5.btn-dark .icon {
   width: 30px !important;
    height: 30px !important;
    background: #c1dc4d;
}
.rr-btn-button5.btn-dark {
    gap: 30px;
    color: var(--white);
    background: var(--primary);
    padding: 10px 11px 10px 37px;
    /* padding: 3px 8px 3px 15px; */
}
.work-section {
    /* padding: 320px 0 130px; */
    padding: 0px 0 200px !important;
    background-image: unset !important;
    background-color: #101010;
    /* background: #f0f2f4; */
}
.blog .blog__inner{
    padding-top: 150px;
}
.service-section__info {
    gap: 40px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 125px;
    /* flex-direction: column; */
}
.milestone-2__content p {
    font-size: 16px !important;
    line-height: 1.4 !important;
}
.milestone-2__item {
    max-width: 462px;
    height: 600px !important;
    padding: 0px 36px 18px 35px;
    border-left: 1px solid;
    position: relative;
}
.project-item.tall .image-box img {
    height: 450px !important;
    object-fit: cover;
}
.brand-section-5__item {
    height: 165px !important;
}
.project-section .container {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 20px;
}
.hero-section__card .rr-btn-border .icon {
    width: 30px !important;
    height: 30px !important;
    background: white;
}
.about-section-item {
    /* background: var(--gray-three); */
    /* padding: 15px 10px !important; */
    padding: 0px 0px !important;
    border-radius: 20px;
    margin-bottom: 0px;
}

.project-section .swiper-pagination {
    bottom: 180px !important;
}
.hero-section__card .rr-btn-border .text {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 26px;
    color: #000;
}
.hero-section__card .rr-btn-border {
    background: #c1dc4d;
    padding: 3px 7px !important;
}
.hero-section__card {
    background: var(--white);
    padding: 30px 30px 30px 45px !important;
    border-radius: 20px;
    margin-bottom: 20px;
}
.section__title {
    /* font-size: 72px; */
    font-size: 50px !important;
    max-width: 800px;
}
    .hero-section__card .title {
        font-size: 36px !important;
        line-height: 40px !important;
    }
    .who-we-are-3__top .about-section-3__content {
    gap: 260px !important;
    margin-top: 60px;
}

.blog__top span {
    font-size: 16px;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    color: var(--black);
    margin-bottom: 15px !important;
    font-family: var(--font_kanit);
}
.blog__top .title {
    font-size: 26px;
    font-weight: 500;
    line-height: 1 !important;
    /* color: var(--primary); */
    color: var(--black);
    margin-bottom: 15px !important;
    /* text-decoration: underline; */
}
.image-box img {
    width: 100%;
    height: 380px !important;
    object-fit: cover;
    border-radius: var(--radius-lg);
    transition: transform var(--transition-smooth);
}
}